services:
  db:
    image: mariadb:10.6
    container_name: wp-db
    restart: always
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./db-data:/var/lib/mysql

  wordpress:
    image: wordpress:latest
    container_name: wp-site
    depends_on:
      - db
    ports:
      - "${WORDPRESS_PORT}:80"
    restart: always
    env_file: .env
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./wp-data:/var/www/html

  adminer:
    image: adminer
    container_name: wp-adminer
    depends_on:
      - db
    restart: always
    ports:
      - "${ADMINER_PORT}:8080"
